@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400');
body {
  font-family: 'Raleway', sans-serif;
  /* position: relative; */
  width: 100%;
  height: 100%;
  color: #33383b;
  /* background-color: black; */
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #42dca3
}

a:focus,
a:hover {
  text-decoration: none;
  color: #1d9b6c
}

.AM-heading {
  text-align: center;
  color: #4c4c4d;
  margin-bottom: 30px;
  }

.AM-heading h2{
  font-weight: 500;
  font-size: 2em;
  }

.AM-section{
  padding: 5em 0;
}  
/******************* Navigation ***************/


#mainNav {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: #292c2f;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: #292c2f;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(#ef2a0b, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 17px;
    padding-bottom: 17px;
    -webkit-transition: background 0.25s ease-in-out, padding-top 0.25s ease-in-out, padding-bottom 0.25s;
    -moz-transition: background 0.25s ease-in-out, padding-top 0.25s ease-in-out, padding-bottom 0.25s;
    transition: background 0.25s ease-in-out, padding-top 0.25s ease-in-out, padding-bottom 0.25s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: white;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color:#5383d3;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 20px 0;
  text-align: center;
  color: #292c2f;
  /* background: url("../img/2.jpg") no-repeat bottom center scroll; */
  background: #e8e8e8;
  /* background-color: black; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.AM-Mast{
  margin-top: 150px; 
}
.mast-text{
  padding: 50px 0 0 50px;
}
.mast-text h1,
.mast-text p{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: left;
}
.mast-text h1{
  font-size: 4em;  
}

.mast-text p{
  font-size: 2em; 
}

.mast-logo{
  max-width: 100%;
}

/* .masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
} */

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  /* .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  } */
}


.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  color: #292c2f;
  border: 2px solid #0e0e0e;
  border-radius: 100% !important;
  background: 0 0
}

.btn-circle:focus,
.btn-circle:hover {
  color: #5383d3;
  outline: 0;
  background: rgba(255, 255, 255, .1)
}

.header-img{
  height: auto;
}

/************************* Services ***********************/

.AM-services {
  color: black;
}
.service-cards{
  padding: 20px 0;
}

.s-card {
  -webkit-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 22px 68px -9px rgba(0, 0, 0, 0.15);
}
.card{
  font-family: 'Raleway',sans-serif;
  border: 0;
  border-radius: 0;
  margin-bottom: 20px;
}
.card-body .p {
  font-weight: 500;
}

.card-title{
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
}
.card-text{
  font-size: 15px;
  color: #898989;
}
/************************* Our Work ***********************/

.see-more{
  padding: 2em 0;
}

/************************* Testimonial ***********************/

.AM-testimonial {
  padding: 7em 0;
  color: black;
  background: #dedfe0;
}

.AM-testimonial .card{
  background: #dedfe0;
}

.AM-testimonial .card-text{
  margin-bottom: 8px;
  
}
.AM-testimonial .card-title{
  margin-bottom: 2px
}

.AM-testimonial .col-sm-6{
  padding: 0;

}

.testimony-text{
  font-size: 18px;
  font-style: italic;
  line-height: 1.3;
  letter-spacing: 0.9;
  text-align: justify;
  color:#5e5956
}
.testimony-name, 
.testimony-info{
color:#5e5956;
font-style: italic;
font-family: "Cabin", sans-serif;
font-size: 15px;
padding: 0px;
}
.testimony-info{
  font-size: 12px;
}

.testimony {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.img-left  .testimony-img {
  display: table-cell;
  float: left;
  width: 100px;
  margin-right: 20px;
}
.img-left img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  max-width: 100% !important;
}
.testimony-text-wrapper{
  padding-left: 10px;
  display: table-cell;
  width: 100%;
}
/************************* Contact Form **********************/
.AM-Contact{
  background: #fcfcfc;
}

.contact-form .row{
  padding: 0px 15px; 
}

.form-input {
  padding: 2px;
  display: block;
  border: none;
  border-bottom: 2px solid #4c4c4d;
  box-shadow: none;
  width: 100%
}

.contact-form input,
textarea {
  background:#fcfcfc;
  margin-bottom: 25px;
  color: #4c4c4d;
  font-size: 1.3em;
}

textarea {
  height: auto;
  overflow: visible;
  border: none;
  border-bottom: 2px solid #4c4c4d;
}


.contact-form label {
  color: #0e0e0e;
  font-size: 1.3em;
  font-weight: 500;
}

.btn-submit {
  font-size: 24px;
  padding: 5px 20px;
  margin: 10px auto;
  border-radius: none;
  width: 40%;
}


@media screen and ( max-width: 1068px) {
  
  .contact-form label {
      font-size: 1.6em;
  }
  textarea,
  .contact-form input {
      font-size: 1.4em;
  }
  .contact-form {
      padding: 10px;
  }
 
  .contact-form .col-md-6,
  .contact-form .col-md-12 {
      padding: 0;
  }
}

input:invalid {
  box-shadow: none;
}
input:required {
  box-shadow: none;
}

/************************* Footer **********************/

.AM-footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
}

.AM-footer .footer-left,
.AM-footer .footer-center,
.AM-footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.AM-footer .footer-left{
	width: 30%;
}

/* The company logo */

.AM-footer h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.AM-footer h3 span{
	color:  #5383d3;
}

.AM-footer .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.AM-footer .footer-center{
	width: 45%;
}

.AM-footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.AM-footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.AM-footer .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.AM-footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.AM-footer .footer-center p a{
  color: #fff;
	text-decoration: none;;
}


/* Footer Right */

.AM-footer .footer-right{
	width: 20%;
}

.AM-footer .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.AM-footer .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.AM-footer .footer-icons{
	margin-top: 25px;
}

.AM-footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.AM-footer{
		font: bold 14px sans-serif;
	}

	.AM-footer .footer-left,
	.AM-footer .footer-center,
	.AM-footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.AM-footer .footer-center i{
		margin-left: 0;
	}

}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
